In [1]:
# 导入包
import numpy as np
import pandas as pd

In [2]:
# 创建实验数据
data = pd.DataFrame(
    {
        "food": ["apple", "Banana", "oranger", "Pineapple", "mango", "Tomato"],
        "price": [4, 3, 3.5, 6, 12, 3],
    }
)
data

        food  price
0      apple    4.0
1     Banana    3.0
2    oranger    3.5
3  Pineapple    6.0
4      mango   12.0
5     Tomato    3.0

In [3]:
# 创建映射-字典
food_categories = {
    "apple": "fruit",
    "banana": "fruit",
    "oranger": "fruit",
    "pineapple": "fruit",
    "mango": "fruit",
    "tomato": "vegetable",
}
food_categories

{'apple': 'fruit',
 'banana': 'fruit',
 'oranger': 'fruit',
 'pineapple': 'fruit',
 'mango': 'fruit',
 'tomato': 'vegetable'}

In [4]:
# 利用映射完成数据转换
data["category"] = data["food"].map(food_categories)
data

        food  price category
0      apple    4.0    fruit
1     Banana    3.0      NaN
2    oranger    3.5    fruit
3  Pineapple    6.0      NaN
4      mango   12.0    fruit
5     Tomato    3.0      NaN

## 一、通过映射完成数据转换

In [6]:
# 利用映射完成数据转换，设置大小写转换
data["category"] = data["food"].str.lower().map(food_categories)
data

        food  price   category
0      apple    4.0      fruit
1     Banana    3.0      fruit
2    oranger    3.5      fruit
3  Pineapple    6.0      fruit
4      mango   12.0      fruit
5     Tomato    3.0  vegetable

## 二、通过函数完成数据转换

In [8]:
# 使用函数的形式来实现类似的数据转换
data["category1"] = data["food"].map(lambda x: food_categories[x.lower()])
data

        food  price   category  category1
0      apple    4.0      fruit      fruit
1     Banana    3.0      fruit      fruit
2    oranger    3.5      fruit      fruit
3  Pineapple    6.0      fruit      fruit
4      mango   12.0      fruit      fruit
5     Tomato    3.0  vegetable  vegetable