In [1]:
# 导入包
import numpy as np
import pandas as pd

In [2]:
# 创建实验对象
data = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    index=["Beijing", "Shanghai", "Guangzhou"],
    columns=["Key1", "Key2", "Key3", "Key4"],
)
data

           Key1  Key2  Key3  Key4
Beijing       0     1     2     3
Shanghai      4     5     6     7
Guangzhou     8     9    10    11

## 一、采用数据转换修改索引标签

In [3]:
# 重命名data的行标签，全部字母大写
data.index.map(lambda x: x.upper())

Index(['BEIJING', 'SHANGHAI', 'GUANGZHOU'], dtype='object')

In [4]:
# 重命名data的行标签，全部字母大写，赋值到原对象中
data.index = data.index.map(lambda x: x.upper())
data

           Key1  Key2  Key3  Key4
BEIJING       0     1     2     3
SHANGHAI      4     5     6     7
GUANGZHOU     8     9    10    11

## 二、采用rename修改索引标签

In [5]:
# rename新建对象后修改标签名
data.rename(index=str.title, columns=str.upper)

           KEY1  KEY2  KEY3  KEY4
Beijing       0     1     2     3
Shanghai      4     5     6     7
Guangzhou     8     9    10    11

In [7]:
# rename新建对象后修改标签名，结合字典对象
data.rename(index={"BEIJING": "北京"})

           Key1  Key2  Key3  Key4
北京            0     1     2     3
SHANGHAI      4     5     6     7
GUANGZHOU     8     9    10    11

In [8]:
# rename新建对象后修改标签名，结合字典对象，直接修改原对象
data.rename(index={"BEIJING": "北京"}, inplace=True)
data

           Key1  Key2  Key3  Key4
北京            0     1     2     3
SHANGHAI      4     5     6     7
GUANGZHOU     8     9    10    11