In [1]:
# 导入包
import numpy as np
import pandas as pd

In [2]:
# 创建实验数据
data = pd.DataFrame(np.arange(20).reshape(5, 4))
data

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

## 一、重新排序

In [6]:
# 生成一组随机排列序数
newOrder = np.random.permutation(5)
newOrder

array([2, 0, 4, 1, 3])

In [7]:
# 按数组执行排列,reindex
data.reindex(newOrder)

    0   1   2   3
2   8   9  10  11
0   0   1   2   3
4  16  17  18  19
1   4   5   6   7
3  12  13  14  15

In [8]:
# 按数组执行排列,take
data.take(newOrder)

    0   1   2   3
2   8   9  10  11
0   0   1   2   3
4  16  17  18  19
1   4   5   6   7
3  12  13  14  15

## 二、随机取样

In [35]:
# 随机取样，使用sample函数
data.sample(3)

   0  1   2   3
2  8  9  10  11
1  4  5   6   7
0  0  1   2   3

In [36]:
# 随机取样，使用sample函数,允许重复采样
data.sample(6, replace=True)

    0   1   2   3
2   8   9  10  11
1   4   5   6   7
4  16  17  18  19
0   0   1   2   3
2   8   9  10  11
3  12  13  14  15