In [1]:
# 导入包
import numpy as np
import pandas as pd

In [2]:
# 创建实验数据
data = pd.Series(
    np.random.randn(9),
    index=[["A", "A", "A", "B", "B", "C", "C", "D", "D"], [1, 2, 3, 1, 2, 1, 3, 2, 3]],
)
data

A  1    0.036606
   2    0.953741
   3   -0.456839
B  1   -2.153045
   2   -0.626984
C  1    1.436184
   3   -0.672121
D  2   -0.196640
   3    0.347782
dtype: float64

## 一、索引操作（回顾层级索引）

### 1.1 外层索引操作

In [3]:
# 单个索引取值
data.loc["A"]

1    0.036606
2    0.953741
3   -0.456839
dtype: float64

In [4]:
# 索引切片
data.loc["C":"D"]

C  1    1.436184
   3   -0.672121
D  2   -0.196640
   3    0.347782
dtype: float64

In [5]:
# 多个索引取值
data.loc[["A", "C"]]

A  1    0.036606
   2    0.953741
   3   -0.456839
C  1    1.436184
   3   -0.672121
dtype: float64

### 1.2 内层索引操作

In [6]:
# 同时使用内外层索引
data.loc["A", 2]

0.9537408534311604

In [7]:
# 忽略外层索引
data.loc[:, 2]

A    0.953741
B   -0.626984
D   -0.196640
dtype: float64

## 二、层次化索引操作

In [2]:
# 创建实验数据
data = pd.DataFrame(
    {
        "a": np.arange(7),
        "b": np.arange(7, 0, -1),
        "c": ["one", "one", "one", "two", "two", "two", "two"],
        "d": [0, 1, 2, 0, 1, 2, 3],
    }
)
data

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [3]:
# 指定某列数据作为行索引
data2 = data.set_index(["c"])
data2

     a  b  d
c
one  0  7  0
one  1  6  1
one  2  5  2
two  3  4  0
two  4  3  1
two  5  2  2
two  6  1  3

In [4]:
# 指定某几列数据做为行索引，即根据数据构造层次索引
data3 = data.set_index(["c", "d"])
data3

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [5]:
# 指定某几列数据做为行索引，保留原数据
data4 = data.set_index(["c", "d"], drop=False)
data4

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [7]:
# 逆层次化索引操作
data3.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1