In [1]:
# 导入包
import numpy as np
import pandas as pd

## 一、merge函数

### 1.1 同标签名的数据连接

In [9]:
# 创建实验数据，data1
data1 = pd.DataFrame(
    {
        "key1": ["k0", "k0", "k1", "k2"],
        "key2": ["k0", "k1", "k0", "k1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
data1

  key1 key2   A   B
0   k0   k0  A0  B0
1   k0   k1  A1  B1
2   k1   k0  A2  B2
3   k2   k1  A3  B3

In [10]:
# 创建实验数据，data2
data2 = pd.DataFrame(
    {
        "key1": ["k0", "k1", "k1", "k2"],
        "key2": ["k0", "k0", "k0", "k0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)
data2

  key1 key2   C   D
0   k0   k0  C0  D0
1   k1   k0  C1  D1
2   k1   k0  C2  D2
3   k2   k0  C3  D3

In [11]:
# 数据连接，默认-内连接
pd.merge(data1, data2)  # pd.merge(data1, data2, how="inner")

  key1 key2   A   B   C   D
0   k0   k0  A0  B0  C0  D0
1   k1   k0  A2  B2  C1  D1
2   k1   k0  A2  B2  C2  D2

In [15]:
# 数据连接，外连接（全连接）
pd.merge(data1, data2, how="outer")

  key1 key2    A    B    C    D
0   k0   k0   A0   B0   C0   D0
1   k0   k1   A1   B1  NaN  NaN
2   k1   k0   A2   B2   C1   D1
3   k1   k0   A2   B2   C2   D2
4   k2   k1   A3   B3  NaN  NaN
5   k2   k0  NaN  NaN   C3   D3

In [13]:
# 数据连接，左连接
pd.merge(data1, data2, how="left")

  key1 key2   A   B    C    D
0   k0   k0  A0  B0   C0   D0
1   k0   k1  A1  B1  NaN  NaN
2   k1   k0  A2  B2   C1   D1
3   k1   k0  A2  B2   C2   D2
4   k2   k1  A3  B3  NaN  NaN

In [14]:
# 数据连接，右连接
pd.merge(data1, data2, how="right")

  key1 key2    A    B   C   D
0   k0   k0   A0   B0  C0  D0
1   k1   k0   A2   B2  C1  D1
2   k1   k0   A2   B2  C2  D2
3   k2   k0  NaN  NaN  C3  D3

In [28]:
# 数据连接，指定连接字段
pd.merge(data1, data2, on="key1")

  key1 key2_x   A   B key2_y   C   D
0   k0     k0  A0  B0     k0  C0  D0
1   k0     k1  A1  B1     k0  C0  D0
2   k1     k0  A2  B2     k0  C1  D1
3   k1     k0  A2  B2     k0  C2  D2
4   k2     k1  A3  B3     k0  C3  D3

In [29]:
# 数据连接，指定连接字段
pd.merge(data1, data2, on=["key1", "key2"])

  key1 key2   A   B   C   D
0   k0   k0  A0  B0  C0  D0
1   k1   k0  A2  B2  C1  D1
2   k1   k0  A2  B2  C2  D2

In [30]:
# 处理重复列名，加后缀
pd.merge(data1, data2, on="key1", suffixes=("_left", "_right"))

  key1 key2_left   A   B key2_right   C   D
0   k0        k0  A0  B0         k0  C0  D0
1   k0        k1  A1  B1         k0  C0  D0
2   k1        k0  A2  B2         k0  C1  D1
3   k1        k0  A2  B2         k0  C2  D2
4   k2        k1  A3  B3         k0  C3  D3

### 1.2 不同标签名的数据连接

In [31]:
# 创建实验数据，data3
data3 = pd.DataFrame({"key1": ["k0", "k0", "k1", "k2"], "A": ["A0", "A1", "A2", "A3"]})
data3

  key1   A
0   k0  A0
1   k0  A1
2   k1  A2
3   k2  A3

In [37]:
# 创建实验数据，data4
data4 = pd.DataFrame(
    {"B": ["A0", "A1", "A2"], "C": np.arange(3)}, index=["A0", "A1", "A3"]
)
data4

     B  C
A0  A0  0
A1  A1  1
A3  A2  2

In [40]:
# 根据不同名列做连接
pd.merge(data3, data4, left_on="A", right_on="B")

  key1   A   B  C
0   k0  A0  A0  0
1   k0  A1  A1  1
2   k1  A2  A2  2

In [41]:
# 根据索引标签名做连接
pd.merge(data3, data4, left_on="A", right_index=True)

  key1   A   B  C
0   k0  A0  A0  0
1   k0  A1  A1  1
3   k2  A3  A2  2

## 二、join函数

In [74]:
# 创建实验数据，data5
data5 = pd.DataFrame({"B": ["A0", "A1", "A2"], "C": np.arange(3)})
data5

    B  C
0  A0  0
1  A1  1
2  A2  2

### 2.1 默认-行索引-左连接

In [78]:
# join数据连接，默认
data3.join(data4)

  key1   A    B   C
0   k0  A0  NaN NaN
1   k0  A1  NaN NaN
2   k1  A2  NaN NaN
3   k2  A3  NaN NaN

In [79]:
# join数据连接，默认
data3.join(data5)

  key1   A    B    C
0   k0  A0   A0  0.0
1   k0  A1   A1  1.0
2   k1  A2   A2  2.0
3   k2  A3  NaN  NaN

### 2.2 设定连接参数

In [80]:
# join数据连接，设定左表连接字段
data3.join(data4, on="A")

  key1   A    B    C
0   k0  A0   A0  0.0
1   k0  A1   A1  1.0
2   k1  A2  NaN  NaN
3   k2  A3   A2  2.0

In [82]:
# join数据连接，设定左表连接字段，右表重命名索引
data3.join(data5.set_index("B"), on="A")

  key1   A    C
0   k0  A0  0.0
1   k0  A1  1.0
2   k1  A2  2.0
3   k2  A3  NaN

## 三、concat函数

In [86]:
# 创建实验数据，data6
data6 = pd.DataFrame(
    np.arange(6).reshape(3, 2), index=list("abc"), columns=["A", "B"]
)
data6

   A  B
a  0  1
b  2  3
c  4  5

In [87]:
# 创建实验数据，data7
data7 = pd.DataFrame(
    np.arange(4).reshape(2, 2), index=list("ac"), columns=["C", "D"]
)
data7

   C  D
a  0  1
c  2  3

In [88]:
# concat数据连接，默认-外连接，默认-axis=0
pd.concat([data6,data7])

     A    B    C    D
a  0.0  1.0  NaN  NaN
b  2.0  3.0  NaN  NaN
c  4.0  5.0  NaN  NaN
a  NaN  NaN  0.0  1.0
c  NaN  NaN  2.0  3.0

In [89]:
# concat数据连接，默认-外连接，设定-axis=1
pd.concat([data6,data7], axis=1)

   A  B    C    D
a  0  1  0.0  1.0
b  2  3  NaN  NaN
c  4  5  2.0  3.0

In [92]:
# concat数据连接，设定-内连接，设定-axis=1
pd.concat([data6,data7], join="inner", axis=1)

   A  B  C  D
a  0  1  0  1
c  4  5  2  3